*{
    margin:0;
    padding:0;
    box-sizing: none;
}

.navbar-container{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    max-width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 0 20px;
}

.logo{
    color: #242424;
    text-decoration:none;
    margin-left: 20px;
    font-family: "Poppins",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.fa-car{
    color: rgb(247, 146, 13);
}

.nav-item {
    display: inline-block;
    margin-right: 10px; 
}

.nav-link {
    list-style: none;
    padding: 0;
    text-decoration: none;
    color: #242424;
    font-size: 1.875rem;
    font-family: "Poppins",'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-right: 20px;
}

.nav-link:hover{
    border-bottom: 4px solid rgb(247, 146, 13);
    transition: all 0.2s ease-out;
}

.nav-menu {
    display: flex;
    text-align: center;
    width: 700px;
    justify-content: end;
    margin-right: 20px;
  }

  .fa-bars{
    display: none;
  }

  .fa-times {
    display: none;
  }

  @media screen and (max-width: 1140px){
    .logo{
      display: none;
      
        }
  }

  @media screen and (max-width: 960px) {
    
.logo{
  display: flex;
}

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
       
    }
  
    .nav-menu.active {
        background: #fff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
  
    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: block;
        margin-top:0;
       overflow-x: hidden;
    }
  
    .nav-link:hover {
      background-color: rgb(247, 146, 13,0.2);
      border-radius: 0;
      border-top: 4px solid rgb(247, 146, 13);
    }
  
   .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      margin-top: 6px;
      cursor: pointer;
    }
  
    .fa-times {
      color: black;
      font-size: 2rem;
      display: flex;
    }
  
    .fa-bars{
        display: flex;
      }
  }
  .logo{
    margin-left: 0;
  }
