*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home2-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 80vh;
}

.who-container{
    width: 80%;
    margin:0 auto;
}
.who-container h1{
    text-align: center;
}

.who-boxes{
    display: flex;
    align-items: center;
    
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 200px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.box img{
 height: 85px;
 width: 100px;   
}

.box h3{
    width: 60%;
    font-family: "DM Serif Display";
    text-transform: uppercase;
   text-align: center;
   
}

.who-text{
    width: 100%;
    padding: 20px;
}

.home2-btn{
    background-color: #242424;
    color: #fff;
    height: 50px;
    width: 150px;
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    margin-top:20px ;
    cursor: pointer;
    border: none;
}

.home2-btn:hover{
    background-color: #4e4e4e;
  transition: all 0.2s ease-in-out;
}

.home2-btn i{
    color: #fff;
}

.who-text h3{
    font-weight: bold;
    font-family: "DM Serif Display";
    text-transform: uppercase;
    color: #fff;
}

.strech-img{
    margin-right:120px;
    display: flex;
    align-items: center; 
    width: 50%;
}

.strech-img img{
    width: 100%;
}

.paint-effect {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .brush-effect {
    width: 100%;
    height: 130px;
    display: block;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  @media screen and (max-width: 790px){
    .strech-img {
        display: none;
    }

    .home2-container{
        height: 60vh;
    }
  }

  @media screen and (max-width: 590px){
    .box h3{
        font-size: 16px;
    }
    .box img{
        height: 65px;
        width: 80px;   
       }

       .box{
        height: 170px;
        width: 80%;
       }

       .who-text p{
        margin: 10px;
       }

    .who-container {
        width: 90%;
        margin: 0 auto; 
    }
  }