*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.pricing-text{
    text-decoration: 2px underline #bb2d2d ;
    text-align: center;
    text-transform: uppercase;
    font-family: "DM Serif Display";  
}
.price-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.price-box{
    margin: 6px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    height: 450px;
    width: 80%;
    
}


.price-box img{
    height: 170px;
    width: 100%;
  position: relative;

}

.price-info{
    position: absolute;
    background-color: #fff;
    top:135px;
    height: 250px;
    right:0;
    left:0;
    margin:0 auto;
}

.price-info p{
    font-size: 14px;
    padding-top: 10px;
    font-family: "Poppins";
}

.price-info h1{
    font-family: "Poppins";
    font-weight: lighter;
    font-size: 22px;
    margin-top: 6px;
}

.price-info h2{
    font-family: "DM Serif Display";
}

.price-info span{
    font-family: "DM Serif Display";
    font-size: 36px;

}


.price-button{
    background-color:#bb2d2d ;
    color: #fff;
    height: 40px;
    width: 150px;
    margin-top: 10px;
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.price-button:hover{
    background-color: #bb2d2d;
    opacity: 0.8;
}

.price-button i{
    color: #fff;
}

@media screen and (max-width: 650px){
    .price-info p{
        font-size: 12px;
        }

    .price-info{
        width: 100%;
    }

    .price-box{
        width: 100%;
    }

    .price-button{
        height: 30px;
        width: 120px;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px){
    .price-info h2{
        font-size: 16px;
    }
    .price-info h1{
        font-size: 18px;
    }
    .price-info p{
        font-size: 12px;
        height: 40px;
        }

    .price-info span{
        font-size: 22px;
    }

    .price-button{
        height: 25px;
        width: 80%;
        font-size: 50%;
    }
    
}