*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.icon-pic{
  width: 80px;
  height: 50px;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.logo-text{
  color: #fff;
  padding-left: 6px;
}


.navbar{
  position: sticky;
  top:0;
  z-index: 999;
}
.navbar-container{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.nav-item{
  display: inline-block;
  list-style: none;
  padding: 0;
  text-decoration: none;
  padding-right: 10px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.nav-link{
  color:#fff;
}

.nav-link:hover{
  text-decoration:underline #bb2d2d;
  transition: all 0.2s ease-in;
}


.login-nav{
padding-right: 10px;
display: flex;
align-items: center;

}

.login-nav button{
  height: 35px;
  width: 100px;
  background-color: black;
  color: #fff;
  outline: none;
  border:1px solid #4e4e4e;
  border-radius: 5%;
  cursor: pointer;
  font-size: 16px;
}

.login-nav button:hover{
  background-color: #4e4e4e;
  transition: all 0.2s ease-in-out;
}

.fa-user{
  color: #fff;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

  .fa-bars{
    display: none;
  }

  .fa-times {
    display: none;
  }



  @media screen and (max-width: 960px) {
    
.login-nav{
  display: none;
}

.logo{
  display: flex;
}

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
       
    }
  
    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 100vh;
    }

  
  
    .nav-link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: block;
        margin-top:0;
       overflow-x: hidden;
       
        
        
    }
  
    .nav-link:hover {
      background-color: rgba(161, 161, 161, 0.2);
      border-radius: 0;
      border-top: 4px solid black;
    }
  
  
   .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      margin-top: 6px;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
      display: flex;
      padding-top: 6px;
      
    }
  
    .fa-bars{
        display: flex;
        padding-top: 6px;
        color: #fff;
      }
     
   
  }

  @media screen and (max-width: 520px){
    .logo-text{
      display: none;
    }

    .icon-pic{
      width: 100px;
      height: 65px;
      margin-left: 10px;
    }
  }