.home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
    gap: 8px;
    height: 450px;
    position: relative;
    cursor: pointer;
}

.home{
    width: 90%;
    margin:0 auto;
    padding-top: 50px;
}


.box-infor{
    position:absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    color: #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS';
   
    
}
.image-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

.home-box img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.two-box{
    display: flex;
    flex-direction: column;
    
}

.two-box img{
    width: 100%;
    height: 198px;
}


@media screen and (max-width: 400px){
    .box-infor{
        font-size: 13px;
    }
}