.bmi-section{
    background-color: black;
    height: 60vh;
    margin-top: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.bmi-output{
    display: flex;
    flex-direction: row;
    padding-top: 20px;   
}

.bmi-input{
    display: flex;
    gap:10px;
}

.bmi-container{
  height: 100%;
}

.bmi-container input{
    background-color: black;
    color: #fff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 30px;
    width: 30%;
    padding-left: 10px;
}

.bmi-info{
    width: 60%;
    height: 80%;
    margin:0 auto;
    text-align: center;
}

.bmi-info p{
    width: 60%;
    margin:0 auto;
}

.bmi-section span{
    color:#bb2d2d;
    font-weight: bolder;
    font-family: "DM Serif Display";
}

.bmi-section h1{
    margin-bottom: 10px;
    font-family: "DM Serif Display";
    font-weight: bold;
}

.bmi-container p{
    width: 75%;
    margin-bottom: 20px;
}

.bmi-button{
    background-color: #242424;
    color: #fff;
    height: 40px;
    width: 30%;
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 580px){
     .bmi-section p{
        font-size: 14px;
        width: 90%;
    }

    .bmi-section{
        height: 40vh;
        padding-top: 20px;
    }

    .bmi-info{
        width: 70%;
    }

    .bmi-section h1{
        font-size: 22px;
    }
}

@media screen and (max-width: 380px){
    .bmi-section p{
        font-size: 12px;
    }

    .bmi-section h1{
        font-size: 20px;
    }

    .bmi-button{
        font-size: 12px;
        width: 40%;
    }
}