*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.coaches-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.coach-text{
    text-align: center;
   width: 60%;
   margin: 0 auto;
}

.coach-text h3{
    font-weight: bold;
    font-family: "DM Serif Display";
    text-transform: uppercase;
}

.coach-profile{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 30%;
}

.coach-details{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: auto;
}

.coach-profile h3{
    text-decoration: 2px underline #bb2d2d;
}

.trainers-socials i{
    padding: 10px;
    cursor: pointer;
}

.coaches-container img{
    height: 200px;
    width: 100%;
    background: linear-gradient(135deg, #FF7171, #FF5E5E, #bb2d2d);
}

@media screen and (max-width: 560px){
    .coaches-container img{
        height: 150px;
        width: 100%;
    }
    .trainers-socials i{
        font-size: 12px;
    }
    .coach-text p{
        width:100% ;
        margin: 0 auto;
    }
}

@media screen and (max-width: 470px){
    .coach-profile{
        width: 50%;
    }

   .coach-profile h3{
    font-size: 14px;
   }

   .coach-profile p{
    font-size: 13px;
   }

   .trainers-socials{
    width: 80%;
    height: auto;
    margin:0 auto;
   }
}
