.footer-section{
    width: 100%;
    background-color: black;
    margin-top: 50px;
    height: 50vh;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color:#fff;
    padding-top: 30px;
    width: 90%;
    height: 90%;
    margin:0 auto;    
}

.footer-logo{
    height: 80px;
    width: 100px;
}

.bbg-section{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    height: 100%;
}

.bbg-section p{
    width: 80%;
}

.bbg-section h3{
    font-size: 15px;
    font-family: "Poppins";
    text-align: left;
}

.footer-socials{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer-socials i{
    background-color: #ebebeb;
    color: #4b4b4b;
    border-radius:50% ;
    height: 25px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-classes, .working-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    height: 100%;
    gap:6px;
}

.footer-classes h3, .working-hours h3{
    font-family: "DM Serif Display";
    text-decoration: 2px underline #bb2d2d;
}

.rest-footer p{
    padding:4px;
}

.working-hours span{
    font-weight: bold;
}

@media screen and (max-width: 720px){
    .footer-container p{
        font-size: 14px;
    }
    
    .working-hours h3, .footer-classes h3{
        font-size: 18px;
    }
    .footer-logo{
        height: 80px;
        width: 60px;
    }
    .bbg-section h3{
        font-size: 14px;
    }
}

@media screen and (max-width: 470px){
.footer-container{
    width: 100%;
    height: auto;
}
.working-hours h3, .footer-classes h3{
    font-size: 16px;
}

.working-hours p, .footer-classes p{
    width: 80%;
}
}