.footer-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    background-color: black;
    color:#fff;
    padding-top: 30px;
    height:auto;
}



.footer-logo{
    height: 80px;
    width: 100px;
}


.bbg-section{
    width: 40%;
   
    
}
.bbg-section p{
    padding: 10px;
    width: 60%;
}

.bbg-section h3{
    font-size: 15px;
    font-family: "Poppins";
}

.footer-socials{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    
}
.footer-socials i{
    background-color: #ebebeb;
    color: #4b4b4b;
    border-radius:50% ;
    height: 25px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}

.rest-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 30%; 
}

.rest-footer h3{
    font-family: "DM Serif Display";
    padding-bottom: 6px;
    text-decoration: 2px underline #bb2d2d;
}

.rest-footer p{
    padding:4px;
    
}

.rest-footer span{
    font-weight: bold;
}

@media screen and (max-width: 990px){
    .footer-container p{
        font-size: 14px;
    }
    
    .footer-container h3{
        font-size: 16px;
    }
    .footer-logo{
        height: 80px;
        width: 60px;
    }

    .rest-footer{
        width: 40%;
        margin-right: 50px;
    }

  
    .bbg-section{
        width: 75%;
    }

    .bbg-section p{
       width: 80%;
    }
}

@media screen and (max-width: 720px){
    
    .footer-container p{
        font-size: 14px;
    }
    
    .footer-container h3{
        font-size: 14px;
    }
    .footer-logo{
        height: 100px;
        width: 80px;
    }

    .rest-footer{
        width: 100%;
    }

  

    .bbg-section{
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bbg-section p{
       width: 100%;
    }
    .footer-container{
        height: 300px;
    }

}
