*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.hero{
  height: 85vh;
  width: 100%;
background-color: #242424;
}

.hero-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
}

.background-img{
    width: 50%;
    margin-top: 20px;
}

.boximg{
    width: 100%;
    height: 500px;
}

.side-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
}

.hero-text{
    color: #fff;
    flex:1;
}

.gym-text h1{
    font-family: "DM Serif Display";  
    text-transform: uppercase;
    font-size: 36px;
}

.gym-text h2{
    font-weight: lighter;
    font-family: "Poppins";
    font-size: 32px;
}

.class-btn{
    height: 45px;
    width: 55%;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
}

.class-btn:hover{
    background-color: #e6e6e6;
    outline: none;
    border: 2px solid #bb2d2d;
}

.fa-arrow-right{
    padding-left: 12px;
    color:#bb2d2d;
}

.sideway-text{
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
    margin-top: 12px; 
}

.social-icons{
color: #fff;
padding-left: 40px;
}

.icons{
    display: flex;
    width: 50px;
    flex-direction: column;
    padding-top: 10px;
}

.icons i{
    padding: 4px;
    cursor: pointer;
}

.social-icons h1{
    color:#bb2d2d;
    padding-left: 2px;
}

@media screen and (max-width: 600px){
    .hero-container{
        width: 100%;
    }
}


@media screen and (max-width: 450px){
.background-img{
    display: none;
}

.side-text{
    width: 90%;
}
}