*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-container i{
    color:#eb2e2e;
    font-size: 2.25rem;
    padding-bottom: 10px;
}

.detail-boxes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    width: 90%;
    margin: 0 auto;   
}

.gymbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   text-align: center;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    height: 100%;
    width: calc(33.3% -22px);
    margin: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

.gymbox h3{
    text-transform: uppercase;
    font-size: 1.375rem;
    font-weight: bold;
    font-family: "DM Serif Display";
}

.gymbox p{
    padding: 10px;
    font-family: "Poppins";
    font-weight: bold;
        font-size: 1rem;
}

@media screen and (max-width: 920px){
    .box-container i{
        font-size: 1.625rem;
    }  

    .gymbox h3{
        font-size: 1.125rem;
    }
    
    .gymbox p{
            font-size: 0.875rem;
    }
}

@media screen and (max-width: 570px){
    .detail-boxes{
        display: flex;
        flex-direction: column;
    }
}