*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.why-section{
    height: 600px;
    background-color: black;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.why-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap:20px;
}

.bodybuilder-img{
    width: 50%;
    height: 80%;
}

.bodybuilder-img img{
    width: 100%;
    height: 100%;
    border: 6px solid #fff;
}

.why-text-cont{
    width: 60%;
}

.why-text{
    color: #fff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    z-index: 999;
}

.why-text h1, h3{
    text-align: center;
    font-family: "DM Serif Display";
}

.why-text p{
    width: 100%;
    padding-top: 10px;
    font-family: "Poppins";
}

.why-btn{
    background-color: #242424;
    color: #fff;
    height: 50px;
    width: 30%;
    font-family: "Poppins";
    font-weight: bold;
    text-transform: uppercase;
    margin-top:20px ;
    cursor: pointer;
    border: none;
}

.why-btn:hover{
    background-color: #4e4e4e;
  transition: all 0.2s ease-in-out;
}

.gym-perks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.gym-element img{
    height: 75px;
    width: 80px;  
}

.gym-element h3{
    font-size: 14px;
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
}

.gym-element{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.why-effect{
    width: 100%;
    height: 130px;
    display: block;
    z-index:0; 
}

.time-text{
    width: 100%;
}

@media screen and (max-width: 1150px){
    .why-text p{
        font-size: 14px;
    }

    .gym-element img{
        height: 80%;
        width: 30%;    
    }
    .gym-element h3{
        font-size: 14px;
    }

    .bodybuilder-img{
        width: 50%;
        margin:0 auto;
    }
    .bodybuilder-img img{
        width: 100%;
        height: 100%;
            }

            .why-text{
                width: 100%;
            }
}

@media screen and (max-width: 550px){
    .bodybuilder-img {
      display: none;
            }

            .why-text-cont{
                width: 100%;
                height: 90%;
            }
}

