*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery-section{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-section h1{
font-family: "DM Serif Display";
text-transform: uppercase;
text-decoration: underline #bb2d2d;
}

.gallery-section p{
    font-family: "Poppins";
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 0fr); 
    grid-template-rows: repeat (3,1fr);
    gap:10px;
    margin-top: 20px;
   
}

.gallery-container img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

@media screen and (max-width: 700px){
    .gallery-container img{
        width: 200px;
        height: 250px;
        border-radius: 10px;
    }

    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 0fr); 
        grid-template-rows: repeat (3,1fr);
        gap:10px;
        margin-top: 20px;
       
    }
}