*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.contacts-section h1{
    text-align: center;
    font-family: "DM Serif Display";
    text-transform: capitalize;
   
}
.contacts-container{
    width: 70%;
    margin-right: 20px;
}

.contacts-container p{
    width: 80%;
    font-family: "Poppins";
    margin: 0 auto;
    padding: 6px;
}

.contacts-container h1{
    width: 70%;
    margin: 0 auto;
}

.contact-infor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
}

.contact-infor h3{
    text-decoration: 2px underline #bb2d2d;
}

.feedback-container{
    display: flex;
    flex-direction: column;
    width: 50%;

}

.feedback-container input{
    background-color: #f7f7f7;
    margin: 10px;
padding-left: 10px;
}

.feedback-input{
    height: 60px;
    
}
.feedback-box{
    height: 150px;
}

.feedback-container button{
    background-color: #bb2d2d;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    color:#fff;
    text-transform: uppercase;
    font-family: "DM Serif Display";
    cursor: pointer;
}

.feedback-container button:hover{
    background-color: #bb2d2d;
    opacity: 0.8;
}

@media screen and (max-width: 650px){
    .contacts-section h1{
        font-size: 18px;
    }

    .contacts-section p{
        font-size: 14px;
    }

    .contacts-section h3{
        font-size: 16px;
        }
       
}

@media screen and (max-width: 580px){
    .contacts-section h1{
        font-size: 16px;
    }

    .contacts-section p{
        font-size: 12px;
    }

    .contacts-section h3{
        font-size: 14px;
        }

        .feedback-container button{
            height: 30px;
            width: 90px;
        }
    }

    @media screen and (max-width: 480px){
        .contacts-section h1{
            font-size: 14px;
        }
    
        .contacts-section p{
            font-size: 10px;
        }
    
        .contacts-section h3{
            font-size: 12px;
            }    
    }

    @media screen and (max-width: 370px){
        .contacts-section h1{
            font-size: 12px;
        }
    
        .contacts-section p{
            font-size: 8px;
        }
    
        .contacts-section h3{
            font-size: 10px;
            }    
            .feedback-input{
                height: 40px;
                
            }
            .feedback-box{
                height: 110px;
            }
    }