*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    gap:20px;
}

.contacts-section h1{
    text-align: center;
    font-family: "DM Serif Display";
    text-transform: capitalize;
}

.contacts-container{
    width: 50%;
    margin-right: 20px;
}

.contacts-container p{
    width: 90%;
    font-family: "Poppins";
    margin: 0 auto;
}

.contacts-container h1{
    width: 80%;
    margin: 0 auto;
}

.contact-infor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    gap:10px;
}

.contact-infor p{
    width: 80%;
    height: auto;
}

.contact-infor h3{
    text-decoration: 2px underline #bb2d2d;
}

.feedback-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.feedback-container input{
    background-color: #f7f7f7;
    margin: 10px;
    padding-left: 10px;
}

.feedback-input{
    height: 60px; 
    width: 90%;
}

.feedback-box{
    height: 150px;
    width: 90%;
}

.feedback-container button{
    background-color: #bb2d2d;
    height: 40px;
    width: 35%;
    margin: 0 auto;
    color:#fff;
    text-transform: uppercase;
    font-family: "DM Serif Display";
    cursor: pointer;
}

.feedback-container button:hover{
    background-color: #bb2d2d;
    opacity: 0.8;
}

@media screen and (max-width: 650px){
    .contacts-section{
        display: flex;
        flex-direction: column;
    }

    .contacts-container{
        width: 100%;
    }

    .feedback-container{
        width: 100%;
    }
    
    .contacts-section h1{
        font-size: 20px;
    }

    .contact-infor{
        width: 100%;
    }
    .contact-infor p{
        width: 100%;
    }
    .contacts-section p{
        font-size: 16px;
        word-break: break-all;
    }

    .contacts-section h3{
        font-size: 18px;
        }
}

